{% extends "base.html" %}
{% block title %}송금하기{% endblock %}
{% block content %}
<h2>{{ target_name | e}}님에게 송금</h2>
<p><strong>내 잔액:</strong> {{ balance | e}}원</p>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="amount">금액:</label>
  <input type="number" name="amount" required min="1" required maxlength="50">
  <input type="password" name="password" placeholder="Enter your password" required required min="1" required maxlength="50">
  <button type="submit">송금</button>
</form>

<a href="javascript:history.back()">← 뒤로 가기</a>

{% endblock %}
